<div id="clearance" class="sign-in h-screen w-full flex items-center justify-center">
  <div class="mx-3">
    <% flash.each do |key,value| %>
      <p class="text-sm text-rose-400"><%= value %></p>
    <% end %>
    <h2 class="w-full font-semibold text-3xl mb-1 text-sky-800"><%= t(".title") %></h2>

    <%= render partial: '/sessions/form' %>
  </div>
</div>
