<div class="flex justify-between items-baseline my-3 gap-x-2">
  <%= form.label :email, class: "text-sky-50" %>
  <%= form.email_field :email, class: "shadow-inner rounded-md" %>
</div>

<div class="flex justify-between items-baseline my-3 gap-x-2">
  <%= form.label :password, class: "text-sky-50" %>
  <%= form.password_field :password, class: "shadow-inner rounded-md" %>
</div>
