<div id="clearance" class="password-reset h-screen w-full flex items-center justify-center">
  <div class="mx-3">
    <% flash.each do |key,value| %>
      <p class="text-sm text-rose-400"><%= value %></p>
    <% end %>
    <p class="text-lg text-slate-400"><%= t(".description") %></p>
    <%= link_to t('.back_to_home'), admin_root_path, class: "text-sky-400 text-sm" %>
  </div>
</div>
