<%= turbo_stream.update "attend_to_#{dom_id @conference}" do %>
     <%= image_tag "done1.svg", class: "mx-auto" %>
    <div>
        <p class="text-center text-slate-700 font-light" >Đã xác nhận tham dự</p>
    </div>
<% end %>